@import 'https://fonts.googleapis.com/css?family=Concert+One|Dosis';

body {
    font-family: 'Dosis', sans-serif;
    font-size: calc(1em+1vw);
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    color: black;
    background-color: white;
}

a, a:link, a:visited {
    color:  forestgreen;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    color: maroon;
    text-decoration: underline;
}



ul {
    padding: 0;
    margin-left: 1.24em;
    /* list-style-type: disc;*/
}

nav {
    position:fixed;
    top:0;
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    padding: 0.20em;
    /* caltech orange, white and black
    color: white;
    background-color: #FF6E1E; 
    */
    /* white on deep red */
    color: white;
    background-color: #5f0202;
}

nav a, nav a:link, nav a:visited {
    font-weight: lighter;
    color: white; 
    text-decoration: none;
}

nav a:active, nav a:focus, nav a:hover {
    font-weight: lighter;
    color: orange;
    text-decoration: none;
    text-transform: uppercase;
}


nav ul {
    display: block;
    width: 100%;
    height: auto;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    text-align: left;
    padding-top: 0em;
    padding-left: 0.82em;
    padding-right: 0.24em;
    padding-bottom: 0em;
    margin: 0;
}

img.rss-valid {
    display: inline;
    width: auto;
    height: 0.82em;
}

h1 {
    font-family: 'Concert One', cursive;
    font-size: 200%;
}

h2 {
    font-family: 'Concert One', cursive;
    font-weight: lighter;
    font-size: 170%;
}

h3 {
    font-family: 'Concert One', cursive;
    font-weight: lighter;
    font-size: 120%;
    text-transform: uppercase;
}

h4 {
    font-family: 'Concert One', cursive;
    font-weight: lighter;
    font-size: 100%;
    text-transform: lowercase;
}

header {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

header h1 {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 2em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 0.82em;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
}

/* NOTE: Ingnore a P tag inserted by Markdown when rendering headers */
footer p {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 0.82em;
    font-weight: lighter;
    margin-top: 0.32em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

footer img {
    display: block;
    float: left;
    vertical-align: top;
    border: 1px solid black;
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
    box-shadow: inset 0.12em 0.12em black;
    width: 3.2em;
    height: auto;
    margin: 0.24em;
}

footer a, footer a:link, footer a:visited {
    font-weight: lighter;
    /* caltech orange * color: #FF6E1E; */
    color: orange; /*forestgreen;*/
}

footer a:active, footer a:focus, footer a:hover {
    font-weight: lighter;
    color: forestgreen;
}

section, article {
    display: block;
    width: 90%;
    height: auto;
    padding: 1.24em;
    margin-top: 1.24em;
    margin-bottom: 0.24em;
}

/** CUT AND MERGE BELOW **/

section p, article p {
    width: 85%;
    height: auto;
}

section h1, article h1 {
    font-size: 1.32em;
}

section h2, article h2 {
    font-size: 1.12em;
    font-weight: italic;
}

section h3, article h3 {
    font-size: 1em;
    text-transform: uppercase;
}

section ul, article ul {
    display: block;
    list-style: inside;
    list-style-type: circle;
    margin: 0;
    padding-left: 1.24em;
}

section ul ul, article ul ul {
    list-style-type: disc;
}

section ul ul ul, article ul ul ul {
    list-style-type: square;
}

section ul ul ul ul, article ul ul ul ul {
    list-style-type: circle;
}

section ul ul ul ul ul, article ul ul ul ul ul {
    list-style-type: disc;
}

section ul ul ul ul ul ul, article ul ul ul ul ul ul {
    list-style-type: square;
}


section a:link, section a:visited, article a:link, article a:visited {
    font-style: italic;
    font-weight: normal;
    color: forestgreen;
}

section a:active, section a:hover, section a:focus, article a:active, article a:hover, article a:focus,  {    
    color: maroon;
}

table {
    table-layout: fixed;
    max-width: 60%;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

thead th:nth-child(1) {
    width: auto;
}

thead th:nth-child(2) {
    width: auto;
}

thead th:nth-child(3) {
    width: auto;
}

thead th:nth-child(4) {
    width: auto;
}

th, td {
    padding-top: 0.24em;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 0;
    text-align: center;
}

th {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.9em;
    text-align: center
}

td {
    font-size: 0.8em;
    text-align: left;
}

thead tr:nth-child(1) {
    background-color: lightgrey;
    border-bottom: 1px solid black;
}

tr {
    border-bottom: 1px groove black;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

aside {
     margin: 0;
     border: 0;
     padding-left: 1em;
     position: relative;
     display: inline-block;
     text-align: right;
}

aside h2 {
     font-size: 1em;
     text-transform: uppercase;
}

aside h2 > a {
     font-style: normal;
}

aside ul {
     margin: 0;
     padding: 0;
     display: block;
     list-style-type: none;
}

aside ul li {
     font-size: 0.82em;
}

aside ul > ul {
     padding-left: 1em;
     font-size: 0.72em;
}

